@model Baud.Deployment.BusinessLogic.Domain.Security.Entities.Position
@using Baud.Deployment.Resources

@{
    ViewBag.Title = StringResources.PositionDetail;
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.BeginCustomForm())
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.Name)
        @s.FieldFor(m => m.IsActive).AsDropDown().WithTrueAs(StringResources.Yes).WithFalseAs(StringResources.No)
    }

    using (var n = f.BeginNavigation())
    {
        @n.Submit(StringResources.Save)
    }
}